extends ../layouts/main

block append pageVariables
    - var bodyClass = 'test'

block content

    h1 My website
    p Content here... hello world! I am a template change. Hello world. I am changing. Again.
    ul
        li Hey
        li I am
        li A script
        li A
        li Work

    img(src="images/female.jpg")
    img(src="images/male.jpg")
    