@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url('/fonts/inter-ui.var.woff2') format("woff2-variations"),
       url("/fonts/inter-ui-regular.woff2") format("woff2"),
       url("/fonts/inter-ui-regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url('/fonts/inter-ui.var.woff2') format("woff2-variations"),
       url("/fonts/inter-ui-medium.woff2") format("woff2"),
       url("/fonts/inter-ui-medium.woff") format("woff");
}

body {
  background: #FFF;
  font-family: "Inter UI", sans-serif;
}
